UI vesamenu.c32
DEFAULT yanase
PROMPT 0
TIMEOUT 100

MENU TITLE openYanase OS - Boot Loader
MENU BACKGROUND splash.png
MENU RESOLUTION 800 600

# --- THIẾT KẾ TASKBAR SÁT ĐÁY ---
MENU WIDTH 97
MENU MARGIN 0
MENU ROWS 3
MENU VSHIFT 28
MENU HSHIFT 0

MENU TABMSGROW 28
MENU HELPMSGROW 29
MENU TIMEOUTROW 29

# --- Style màu sắc (Modern Dark Taskbar) ---
MENU COLOR border       30;44   #00000000 #00000000 std
MENU COLOR title        1;36;44 #ffffffff #00000000 std
MENU COLOR sel          7;37;40 #ffffffff #60444444 all
MENU COLOR unsel        37;44   #ffffffff #00000000 std
MENU COLOR background   37;44   #40000000 #00000000 std

# --- Entries ---

LABEL yanase
    MENU LABEL    [>] Run OpenYanase Kernel (x86)
    COM32 mboot.c32
    # SỬA LẠI ĐÂY: Thêm đường dẫn Ramdisk sau dấu ---
    APPEND /boot/mykernel.elf --- /boot/initrd-x86.tar

LABEL recovery
    MENU LABEL    [!] Emergency Recovery Mode
    COM32 mboot.c32
    # Thêm tham số recovery VÀ vẫn phải nạp initrd nếu kernel cần asset
    APPEND /boot/mykernel.elf recovery --- /boot/initrd-x86.tar

LABEL reboot
    MENU LABEL    [x] Reboot
    COM32 reboot.c32